.color-darkmatter {
  --background: 255, 255, 255;
  --foreground: 17, 24, 39;
  --card: 255, 255, 255;
  --card-foreground: 17, 24, 39;
  --popover: 255, 255, 255;
  --popover-foreground: 17, 24, 39;
  --primary: 216, 121, 67;
  --primary-foreground: 255, 255, 255;
  --secondary: 82, 117, 117;
  --secondary-foreground: 255, 255, 255;
  --muted: 243, 244, 246;
  --muted-foreground: 107, 114, 128;
  --accent: 238, 238, 238;
  --accent-foreground: 17, 24, 39;
  --destructive: 239, 68, 68;
  --destructive-foreground: 250, 250, 250;
  --border: 229, 231, 235;
  --input: 229, 231, 235;
  --ring: 216, 121, 67;
  --chart-1: 95, 135, 135;
  --chart-2: 231, 138, 83;
  --chart-3: 251, 203, 151;
  --chart-4: 136, 136, 136;
  --chart-5: 153, 153, 153;
  --sidebar: 243, 244, 246;
  --sidebar-foreground: 17, 24, 39;
  --sidebar-primary: 216, 121, 67;
  --sidebar-primary-foreground: 255, 255, 255;
  --sidebar-accent: 255, 255, 255;
  --sidebar-accent-foreground: 17, 24, 39;
  --sidebar-border: 229, 231, 235;
  --sidebar-ring: 216, 121, 67;
  --radius: 0.75rem;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

.dark.color-darkmatter {
  --background: 18, 17, 19;
  --foreground: 193, 193, 193;
  --card: 18, 18, 18;
  --card-foreground: 193, 193, 193;
  --popover: 18, 17, 19;
  --popover-foreground: 193, 193, 193;
  --primary: 231, 138, 83;
  --primary-foreground: 18, 17, 19;
  --secondary: 95, 135, 135;
  --secondary-foreground: 18, 17, 19;
  --muted: 34, 34, 34;
  --muted-foreground: 136, 136, 136;
  --accent: 51, 51, 51;
  --accent-foreground: 193, 193, 193;
  --destructive: 95, 135, 135;
  --destructive-foreground: 18, 17, 19;
  --border: 34, 34, 34;
  --input: 34, 34, 34;
  --ring: 231, 138, 83;
  --chart-1: 95, 135, 135;
  --chart-2: 231, 138, 83;
  --chart-3: 251, 203, 151;
  --chart-4: 136, 136, 136;
  --chart-5: 153, 153, 153;
  --sidebar: 18, 18, 18;
  --sidebar-foreground: 193, 193, 193;
  --sidebar-primary: 231, 138, 83;
  --sidebar-primary-foreground: 18, 17, 19;
  --sidebar-accent: 51, 51, 51;
  --sidebar-accent-foreground: 193, 193, 193;
  --sidebar-border: 34, 34, 34;
  --sidebar-ring: 231, 138, 83;
  --radius: 0.75rem;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl:
    0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
}
