/* Eye Care Theme */
.color-eye-care {
  --background: 248, 241, 227;
  --foreground: 21, 8, 0;
  --card: 250, 245, 234;
  --card-foreground: 21, 8, 0;
  --popover: 250, 245, 234;
  --popover-foreground: 21, 8, 0;
  --primary: 153, 103, 0;
  --primary-foreground: 241, 238, 231;
  --secondary: 235, 228, 214;
  --secondary-foreground: 30, 20, 0;
  --muted: 235, 228, 214;
  --muted-foreground: 98, 83, 52;
  --accent: 235, 228, 214;
  --accent-foreground: 30, 20, 0;
  --destructive: 231, 0, 11;
  --border: 225, 214, 194;
  --input: 225, 214, 194;
  --ring: 153, 103, 0;
  --chart-1: 245, 73, 0;
  --chart-2: 0, 150, 137;
  --chart-3: 16, 78, 100;
  --chart-4: 255, 185, 0;
  --chart-5: 254, 154, 0;
  --sidebar: 245, 238, 224;
  --sidebar-foreground: 21, 8, 0;
  --sidebar-primary: 153, 103, 0;
  --sidebar-primary-foreground: 241, 238, 231;
  --sidebar-accent: 235, 228, 214;
  --sidebar-accent-foreground: 30, 20, 0;
  --sidebar-border: 225, 214, 194;
  --sidebar-ring: 153, 103, 0;
}

.dark.color-eye-care {
  --background: 24, 16, 3;
  --foreground: 225, 214, 194;
  --card: 33, 25, 9;
  --card-foreground: 225, 214, 194;
  --popover: 33, 25, 9;
  --popover-foreground: 225, 214, 194;
  --primary: 177, 136, 39;
  --primary-foreground: 15, 10, 3;
  --secondary: 45, 40, 30;
  --secondary-foreground: 225, 214, 194;
  --muted: 45, 40, 30;
  --muted-foreground: 164, 151, 125;
  --accent: 45, 40, 30;
  --accent-foreground: 225, 214, 194;
  --destructive: 255, 100, 103;
  --border: 255, 255, 255;
  --border-alpha: 0.1;
  --input: 255, 255, 255;
  --input-alpha: 0.15;
  --ring: 177, 136, 39;
  --chart-1: 20, 71, 230;
  --chart-2: 0, 188, 125;
  --chart-3: 254, 154, 0;
  --chart-4: 173, 70, 255;
  --chart-5: 255, 32, 86;
  --sidebar: 33, 25, 9;
  --sidebar-foreground: 225, 214, 194;
  --sidebar-primary: 177, 136, 39;
  --sidebar-primary-foreground: 15, 10, 3;
  --sidebar-accent: 45, 40, 30;
  --sidebar-accent-foreground: 225, 214, 194;
  --sidebar-border: 255, 255, 255;
  --sidebar-border-alpha: 0.1;
  --sidebar-ring: 177, 136, 39;
}
