.color-notebook {
  --background: 249, 249, 249;
  --foreground: 58, 58, 58;
  --card: 255, 255, 255;
  --card-foreground: 58, 58, 58;
  --popover: 255, 255, 255;
  --popover-foreground: 58, 58, 58;
  --primary: 96, 96, 96;
  --primary-foreground: 240, 240, 240;
  --secondary: 222, 222, 222;
  --secondary-foreground: 58, 58, 58;
  --muted: 227, 227, 227;
  --muted-foreground: 80, 80, 80;
  --accent: 243, 234, 200;
  --accent-foreground: 93, 64, 55;
  --destructive: 200, 122, 122;
  --destructive-foreground: 255, 255, 255;
  --border: 116, 114, 114;
  --input: 255, 255, 255;
  --ring: 160, 160, 160;
  --chart-1: 51, 51, 51;
  --chart-2: 85, 85, 85;
  --chart-3: 119, 119, 119;
  --chart-4: 153, 153, 153;
  --chart-5: 187, 187, 187;
  --sidebar: 240, 240, 240;
  --sidebar-foreground: 58, 58, 58;
  --sidebar-primary: 96, 96, 96;
  --sidebar-primary-foreground: 240, 240, 240;
  --sidebar-accent: 243, 234, 200;
  --sidebar-accent-foreground: 93, 64, 55;
  --sidebar-border: 192, 192, 192;
  --sidebar-ring: 160, 160, 160;
  --radius: 0.625rem;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm:
    1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow:
    1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md:
    1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg:
    1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl:
    1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
  --tracking-normal: 0.5px;
  --spacing: 0.25rem;
}

.dark.color-notebook {
  --background: 43, 43, 43;
  --foreground: 220, 220, 220;
  --card: 51, 51, 51;
  --card-foreground: 220, 220, 220;
  --popover: 51, 51, 51;
  --popover-foreground: 220, 220, 220;
  --primary: 176, 176, 176;
  --primary-foreground: 43, 43, 43;
  --secondary: 90, 90, 90;
  --secondary-foreground: 192, 192, 192;
  --muted: 69, 69, 69;
  --muted-foreground: 160, 160, 160;
  --accent: 224, 224, 224;
  --accent-foreground: 51, 51, 51;
  --destructive: 217, 175, 175;
  --destructive-foreground: 43, 43, 43;
  --border: 79, 79, 79;
  --input: 51, 51, 51;
  --ring: 192, 192, 192;
  --chart-1: 239, 239, 239;
  --chart-2: 208, 208, 208;
  --chart-3: 176, 176, 176;
  --chart-4: 144, 144, 144;
  --chart-5: 112, 112, 112;
  --sidebar: 33, 33, 33;
  --sidebar-foreground: 220, 220, 220;
  --sidebar-primary: 176, 176, 176;
  --sidebar-primary-foreground: 33, 33, 33;
  --sidebar-accent: 224, 224, 224;
  --sidebar-accent-foreground: 51, 51, 51;
  --sidebar-border: 79, 79, 79;
  --sidebar-ring: 192, 192, 192;
  --radius: 0.625rem;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm:
    1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow:
    1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md:
    1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg:
    1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl:
    1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
}
